* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
	color:white;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url(/resources/images/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

.table {
	width: 80%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    
    border: 1px solid #fff;;
	border-radius: 9%;
	padding: 12px 34px;
    transform: translate(-50%,-50%);
    
}
s
.table thead tr th{
	font-size:22px;
	color: #fff;
	text-align: center;
}


.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

